services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/var/www/html
      - /var/www/html/node_modules
    depends_on:
      - db
      - allure
    environment:
      DB_HOST: db
      ALLURE_INTERNAL_BASE_URL: http://allure:5050
      ALLURE_PUBLIC_BASE_URL: http://localhost:5050

  web:
    image: nginx:1.27
    ports:
      - "8000:80"
      - "5173:5173"
    volumes:
      - .:/var/www/html
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: test_tool
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  allure:
    image: frankescobar/allure-docker-service
    ports:
      - "5050:5050"
    environment:
      CHECK_RESULTS_EVERY_SECONDS: "NONE"
      KEEP_HISTORY: "1"
    volumes:
      - allure_projects:/app/projects

volumes:
  allure_projects:
  db_data:
